p{
    font-size: 65%;
    margin:50PX ;
    padding: 50px;
   
}
.sheet{
    margin: 10px 20px;
}
h1{
    color:#1D4FAB ;
}
.sheet img{
    padding: 40px;
}








@media (max-width: 767px)  { 
    *{
     box-sizing: border-box;
      font-size: 25px;
     
    }
    p{
        margin:10PX ;
        padding: 20px; 
    }
  .sheet  img{
        padding: 10px 40px;
    }
}